
 h4.kitten-title:before {
     content : '';
     display: block;
     background: url('/images/kitten.jpg') no-repeat;
     width: 33px;
     height: 33px;
     float: left;
     border-radius: 100%;
 }